<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Login</title>
</head>


<body>


<div class="container mt-4">

    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
        <header class="card-header">
            <a th:href="@{/register}" class="float-right btn btn-outline-primary mt-1">Register</a>
            <h4 class="card-title mt-2">Sign in</h4>
        </header>
        <article class="card-body">
        <form th:action="@{/login}" method="POST" >
            <div class="form-row">
            <div class="col form-group">
            <label>Username</label>
            <input type="text" th:placeholder="Username" name="username" class="form-control" required>
            </div>
            </div>
            
            <div class="form-group">
            <label>Password</label>
                <input th:placeholder="password" name="password" class="form-control" type="password" required>
            </div> 

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
        </form>
        </article>

        <div th:if="${param.error}"><p>Username or Password is invalid.</p></div> <br/>
   		<span th:utext="${successMessage}"></span>

        <div class="border-top card-body text-center">Need an account? <a th:href="@{/register}">Register</a></div>
    </div> 
    </div> 

    </div> 


</div> 


</body>
</html>
