<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script th:src="@{/js/signup.js}"></script>

    <title>Register</title>
</head>


<body>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
      <a th:href="@{/login}" class="float-right btn btn-outline-primary mt-1">Sign in</a>
      <h4 class="card-title mt-2">Sign up</h4>
    </header>
    <article class="card-body">
    <form id="signup-form" action="#" th:action="@{/save}" th:object="${user}" method="post">
      <div class="form-row">
        <div class="col form-group">
        <label>Username</label>
        <input type="text" th:field="*{username}" class="form-control" placeholder="" required>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col form-group">
          <label>Password</label>
            <input  th:field="*{password}" class="form-control" type="password" required>
        </div> 
      </div> 

      <div class="form-row">
        <div class="col form-group">
          <label>First name </label>   
          <input type="text" class="form-control" placeholder="" required>
        </div> 
        <div class="col form-group">
          <label>Last name</label>
            <input type="text" class="form-control" placeholder=" " required>
        </div> 
      </div> 
      <div class="form-row">
        <div class="col form-group">
          <label>Email address</label>
          <input type="email" th:field="*{email}" class="form-control" placeholder="" required>
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> 
      </div> 

      <div class="form-row">
        <div class="col form-group">
          <label>Role</label>
          <select th:field="*{role}" class="custom-select" required>
            <option value="disabled" disabled >Choose a Role</option>
            <option value="STUDENT">Student</option>
            <option value="PROFESSOR">Professor</option>
          </select>
        </div> 
      </div> 

      <div class="student-fields">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Year of studies</label>
            <input type="number" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label>Courses Remaining</label>
            <input type="number" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label>Average Grade</label>
            <input type="number" class="form-control" required>
          </div>
        </div> 
      </div>

      <div class="professor-fields">
        <div class="form-row">
          <div class="col-md-12 form-group">
          <label>Speciality</label>
          <input type="text" class="form-control" placeholder=" " required>
          </div>
          <div class="col"></div>
        </div>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Sign up </button>
      </div>
    </form>
    </article>

    <div th:if="${param.error}"><p>Registration Error.</p></div> <br/>
    <span th:utext="${successMessage}"></span>

    <div class="border-top card-body text-center">Have an account? <a th:href="@{/login}">Sign in</a></div>
    </div> 
    </div> 

  </div> 


</div> 

</body>
</html>