<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <style >
            body {
                height: 100%;
                padding-bottom: 80px;
            }

            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 200px;
                background-color: #f5f5f5;
                border-top: solid 1px #eee;
            }
        </style>
    </head> 

    <body>
        <header>
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <h1>
                <a class="navbar-brand m-md-2" href="#">ThesisApp</a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> 
                        <a class="nav-link" th:href="$(/thesis/list)">Home<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
    
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a type="button" class="btn btn-success" th:href="${/login}">Login</a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <a type="button" class="btn btn-primary" th:href="${/register}">Register</a>
                        </div>
                    </div>
                
                </div>
            </nav>
        </header>

        

        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="text-center">About Us</h1>
                <hr>
                <div class="col-md-20">
                    <p>
                    Thanks for visiting our platform for diploma theses! This website
                    links professors and students, offering an easy and practical way for
                    professors to share their thesis topics and for students to apply to
                    them. You can find motivated students to work on your thesis projects
                    by simply posting your thesis topics online as a professor.
                    Additionally, as a student, you can look through the available
                    subjects, apply to the ones that interest you, and begin working on
                    your diploma thesis. We sincerely hope you benefit from this resource
                    and use it to fulfill your academic objectives!
                    </p>
                </div>
            </div>
        </div>

        <footer class="bg-light md-3"> 
            <div class="footer">
                <div class="container text-center">
                    <div class="col-md-12">
                    <h4>Development team</h4>
                        <ul class="list-unstyled">
                            <li>Vasileios Valsamidis</li>
                            <li>Dimitris Giannitsakis</li>
                            <li>Andreas Birmpilis</li>
                            <li>Athanasios Kalyviotis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
