<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>  
    <header class="header">
        <h2 class="logo">ThesisApp</h2>
        <nav class="navbar"> 
            <a href="#">Homepage</a>
            <a href="#">
                <!-- in case we want to have images for every profile - probably needs some altering -->
                <!-- <span class="usericon">
                    <img alt="" src="@{ 'img/photos' + ${authentication.getPrincipal().getUsername()} + 'jpg'}"> 
                </span> --> 

                <span class="username" 
                th:text="${authentication.getPrincipal().getUsername()}">Guest</span> 
                </a>
            <a href="#">Dashboard</a>
            <button class="btnLogout-popup">Logout</button>
        </nav>
    </header>

</body>


</html>