<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>

<body>
    <header class="header">
        <h2 class="logo">ThesisApp</h2>
        <nav class="navbar" th:fragment="navbar"> 
            <a href="#" class="btn btn-primary" style="background-color: #fc8a09; color: #000000; border-color: #fc8a09;">Homepage</a>
            <a href="#" class="btn btn-primary" style="background-color: #fc8a09; color: #000000; border-color: #fc8a09;">About</a>
            <a href="#" class="btn btn-primary" style="background-color: #fc8a09; color: #000000; border-color: #fc8a09;">Dashboard</a>
            <button class="btn btn-primary" style="background-color: #000000; color: #fc8a09; border: #000000;">Login</button>
            <button class="btn btn-success" style="background-color: #fc8a09; color: #000000; border: #000000;">Register</button>
        </nav>
    </header>
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>



